:root {
  --dark-bg: #121212;
  --white-bg: #121212;
  --white-txt: white;
  --dark-txt:var(--dark-bg);
  --grey:#5b5b5b;
  --red:#f8564b;
  --blue:#70C3F4;
  --orange:#fc9e72;
  --yellow:#ffe599;
  --green:#8fce00;
  --celadon:#ACE1AF;
  --teal:#C0FFEE;
  --purple:#D2C0F2;
  --brown:#79443B;
  --black:#121212;
  --nav-dark:var(--black);
  --nav-grey:var(--grey);

}

.red{
  color: var(--red)
}
.bg-alert{
  background-color: var(--red)
}
.blue{
  color: var(--blue)
}
.bg-info{
  background-color: var(--blue)
}

.bg-dark{
  color: var(--dark-bg);
}

